*{
   margin: 0;
   padding: 0;
}

.playerContainer{
   position : relative;
   width : 100%;
}

.playerVideo{
   position: absolute;
   width: 100%;
   height: 100%;
}

.playerVideo video {
   position: absolute;
   z-index: -1;
}

.subtitlesContainer{
   position: absolute;
   color: white;
   font-size: 40;
   text-align: center;
   bottom: 67px;
   width: 100%;
   height: 128px;
   display: flex;
   justify-content: center;
}

.subtitle{
   width: 1420px;
   text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.controlContainer{
   width: 100%;
   height: 540px;
   position: absolute;
   display: flex;
   bottom: 0px;
   background-image: linear-gradient(0deg, #1A1819 0%, rgba(26,25,25,0.00) 100%);
   align-items: flex-end;
}

.btnsContainer{

   display: flex;
   margin: 65px;
   align-items: center;
   width : 100%
}


/* TIMELINE */

.timeLineControls{
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center;
   margin-right: 55px;
}

.timeLine{
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center;
   position: relative;
}

.currentTime{
   background-color: white;
   height: 6px;
   position: absolute;
}

.totalTime{
   background-color: #C0C0C0;
   height: 4px;
   width: 100%;
   position: absolute;
}

.timeCounter{
   font-family: SFUIText-Regular;
   font-size: 20px;
   color: #FFFFFF;
   letter-spacing: 0;
   margin:25px;
   width : 70px;
}

.playBtn{
   height: 95px;
   width: 129px;
   margin-right: 55px;
   background-color: white;
}

/* ============== */
/* subtitle */
/* ============== */

.controlBg{
   background-color: white;
   width: 100%;
   transition: height 400ms;
   transition-delay : 50ms;
}

.subControlContainer{
   width: 225px;
   height: 56px;
   background-color: white;
   position: relative;
   display: flex ;
   align-items: flex-end;
} 

.subControl{
   position: absolute;
   font-size: 20px;
   color: #727272;
   letter-spacing: 0;
   padding-left: 30px;
   width: calc(100% - 30px);
   display: flex;
   align-items: center;
   opacity: 1;
   transition : transform 500ms, opacity 200ms;
   font-family: sans-serif;
}

.subControl.active{
   font-weight: bolder;
   font-size: 22px;
}

.subControl.hidden{
   opacity: 0;
}

.librasVideo{
   bottom: 0px;
   right: 0px;
   background: rgba(0,0,0,0.2);
   width : 600px;
}