*{
   margin: 0;
   padding: 0;
}

.playerContainer{
   position : relative;
   width : 100%;
}

.playerVideo{
   position: absolute;
   width: 100%;
   height: 100%;
}

.playerVideo video {
   position: absolute;
   z-index: -1;
}

.subtitlesContainer{
   position: absolute;
   color: white;
   font-size: 40;
   text-align: center;
   bottom: 67px;
   width: 100%;
   height: 128px;
   display: flex;
   justify-content: center;
}

.subtitle{
   width: 1420px;
   font-family: SFUIText-Regular;
   text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}